<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%= title %></title>
    <!-- bootstrap -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" href="./public/stylesheets/starter-template.css"> -->
    <!-- style Category -->

    <!-- Thư viện phóng to -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
  <style>
    .alert-error {
      color: #842029;
      background-color: #f8d7da3B;
      border-color: #f5c2c7;
     }
     img.cpi {
width: 100px;
     }
    #collapse1{
      overflow-y:scroll;
      height:200px;
    }
    img.pimage {
      width: 150px;
    }
    a.pa {
      display: inline-block;
      height: 160px;
    }
    .row .products .p {
      margin-top:20px;
      margin-bottom:20px;
    }
    img.spi {
      width:100%;
    }
    ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
    }
  </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"> CMSShoppingCart </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <% pages.forEach((page)=> { if (page.slug == "home") { %>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">
                  <%= page.title %>
                </a>
              </li>
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/<%= page.slug %>">
                  <%= page.title %>
                </a>
              </li>
              <% } }); %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="nav-link" href="/cart/checkout">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH8zGtd4IgH-1MBcEy2-6d9j5NMxaeT-rtZcNuqTqzx9QYtGea6in5VxVg98gYz8BEnKM&usqp=CAU" alt="" width="30" height="24">
                  My Cart (<%= (typeof cart != "undefined") ? cart.length : 0 %>)
                </a>
              </li>
            <% if (user) { %>
            <li><a class="nav-link" href="/users/logout">Hi, <%= user.username %>(logout)</a></li>
            <% } else { %>
              <li><a class="nav-link" href="/users/register">Register</a></li>
              <li><a class="nav-link" href="/users/login">Log in</a></li>
              <% } %>
              <% if (user && user.admin == 1) { %>
                <li><a class="nav-link" href="/admin/pages">Admin Area</a></li>
                <% } %>
            </ul>
          </div>
        </div>
      </nav>
      <!-- <div
        class="p-5 text-center bg-image"
        style="
          background-image: url('https://graphics.vietnamprinting.com/wp-content/uploads/2020/01/mau-banner-dich-vu-ban-hang-vietnamprinting-muabannhanh.png');
          object-fit:fill;
          width: full;
          height: full;
        "
      ></div> -->
    <section class="hero-banner bg-light py-5">
      <div class="col">
          <img src="https://i.pinimg.com/originals/e6/ee/2a/e6ee2a5888b79c216ba21bc2ca6c8939.jpg" class="" alt="Web Development"
          width="100%" height="400px" style="object-fit: scale-down;">
      </div>
    </section>
    </header>
    <main class="container">
      <%- messages('messages', locals) %>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h3>Categories</h3>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action active" aria-current="true">
              <a class="list-group-item-action nav-link active" href="/products">All products</a>
            </li>
            <% categories.forEach(function(c) { %>
            <li class="list-group-item list-group-item-action ">
              <a class="list-group-item-action nav-link" href="/products/<%= c.slug %>"><%= c.title %></a>
            </li>
            <% }) %>
          </ul>
        </div>
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-8">
      <%if(errors){%> <% errors.forEach(function(error) { %>
        <div class="alert alert-danger"><%= error.msg %></div>
        <% });%> <% }%>
</html>
